.covid-statistic {
    padding: 25px 0;
    @include dekstop {
        padding: 100px 0;
    }
    main {
        width: 95%;
        margin: auto;
        @include tablet {
            width: 90%;
        }
        @include dekstop {
            width: 90%;
        }
        h2 {
            text-align: center;
            font-family: getFont(ui);
            color: getColor(accent);
            @include dekstop {
                font-size: 48px;
            }
        }
        .table-statistic {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 20px;
            justify-content: center;
            @include dekstop {
                row-gap: 40px;
            }
            .table-header, .table-data {
                margin: auto;
                display: grid;
                height: fit-content;
                padding: 5px;
                width: fit-content;
                text-align: center;
                align-items: center;
                border-radius: 20px;
                font-weight: 600;
                font-family: getFont(ui);
                font-size: 3.382vw;
                grid-template-columns: 8.937vw 21.256vw repeat(3,18.841vw);
                @include tablet {
                    padding: 15px 20px;
                    font-size: clamp(18px,1.528vw,22px);
                    grid-template-columns: 10% 30% repeat(3,20%);
                }
                @include dekstop {
                    padding: 20px 20px;
                    font-size: clamp(18px,1.528vw,22px);
                    grid-template-columns: 6.944vw 12.500vw repeat(6,11.111vw);
                }
                .table-row {
                    margin: auto;
                    @for $i from 6 through 8 {
                        &:nth-child(#{$i}) {
                            display: none;
                            @include dekstop {
                                display: initial;
                            }
                        }
                    }
                }
            }
            .table-header {
                background: getColor(accent);
            }
            .table-data {
                background: getColor(secondary);
                .table-row{
                    width: fit-content;
                    margin: auto;
                    padding: 1.208vw;
                    border-radius: 20px;
                    &:nth-child(1) {
                        font-size: 4.348vw;
                        @include tablet {
                            font-size: 32px;
                        }
                        @include dekstop {
                            font-size: 36px;
                        }
                    }
                    @for $i from 3 through 5 {
                        &:nth-child(#{$i}) {
                            div {
                                margin: auto;
                                &:nth-child(1) {
                                    margin-bottom: 1.208vw;
                                    @include dekstop {
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }
                    }
                    
                    &:nth-child(3) {
                        div {
                            &:nth-child(2) {
                                padding: 1.208vw;
                                border-radius: 10px;
                                background: getColor(warning); 
                                @include dekstop {
                                    padding: 10px;
                                    border-radius: 20px;
                                }
                            }
                        }  
                    }
                    &:nth-child(4) {
                        div {
                            &:nth-child(2) {
                                padding: 1.208vw;
                                border-radius: 10px;
                                background: getColor(danger); 
                                @include dekstop {
                                    padding: 10px;
                                    border-radius: 20px;
                                }
                            }
                        }  
                    }
                    &:nth-child(5) {
                        div {
                            &:nth-child(2) {
                                padding: 1.208vw;
                                border-radius: 10px;
                                background: getColor(success); 
                                @include dekstop {
                                    padding: 10px;
                                    border-radius: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 